@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

a:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

a:not([href]):hover {
 opacity: inherit;
}

button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.3;
}

button:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

select:hover {
  opacity: 0.6;
}

select:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

input:hover {
  opacity: 0.6;
}

input:active {
  opacity: 0.3;
}

input:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
}

select:active {
  opacity: 0.3;
}

select:disabled, button:disabled, a:disabled , input:disabled, label:disabled  {
  opacity: 0.3;
}

button, a, label {
  cursor: pointer;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  box-sizing: border-box;
  padding: 24px 0;
  background: #FEAFC3;
}

html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  display: flex;
  max-width: 422px;
}

.navigation-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
}

.user-nav-tel {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

